In [1]:
#import dependencies
import pandas as pd
import gmaps
import requests


#Import API key
from config import g_key

In [2]:
#Store the saved CSV created in part one into a data frame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-16 17:00:22,-23.1203,-134.9692,78.10,72,47,16.60
1,1,Korla,CN,2022-04-16 17:01:43,41.7597,86.1469,53.26,12,0,3.29
2,2,Mahebourg,MU,2022-04-16 17:01:43,-20.4081,57.7000,77.29,78,40,10.36
3,3,Victoria,HK,2022-04-16 17:01:24,22.2855,114.1577,72.18,76,98,15.01
4,4,Mahajanga,MG,2022-04-16 17:01:44,-15.7167,46.3167,84.56,64,0,7.11

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-16 17:00:22,-23.1203,-134.9692,78.10,72,47,16.60
2,2,Mahebourg,MU,2022-04-16 17:01:43,-20.4081,57.7000,77.29,78,40,10.36
4,4,Mahajanga,MG,2022-04-16 17:01:44,-15.7167,46.3167,84.56,64,0,7.11
7,7,Saint Pete Beach,US,2022-04-16 17:01:44,27.7253,-82.7412,88.25,68,0,5.01
8,8,Bengkulu,ID,2022-04-16 17:01:45,-3.8004,102.2655,77.76,88,91,4.12
9,9,Vaini,TO,2022-04-16 17:00:34,-21.2000,-175.2000,81.21,67,98,12.30
10,10,Chisec,GT,2022-04-16 17:01:45,15.8167,-90.2833,88.59,54,52,3.44
11,11,Kalanwali,IN,2022-04-16 17:01:46,29.8500,74.9500,86.32,12,0,6.24
15,15,Avarua,CK,2022-04-16 17:01:47,-21.2078,-159.7750,77.05,88,52,4.61
19,19,Sao Joao Da Barra,BR,2022-04-16 17:01:48,-21.6403,-41.0511,78.12,60,33,14.63

In [14]:
preferred_cities_df.count()

City_ID       167
City          167
Country       166
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0             Rikitea      PF     78.10 -23.1203 -134.9692
2           Mahebourg      MU     77.29 -20.4081   57.7000
4           Mahajanga      MG     84.56 -15.7167   46.3167
7    Saint Pete Beach      US     88.25  27.7253  -82.7412
8            Bengkulu      ID     77.76  -3.8004  102.2655
9               Vaini      TO     81.21 -21.2000 -175.2000
10             Chisec      GT     88.59  15.8167  -90.2833
11          Kalanwali      IN     86.32  29.8500   74.9500
15             Avarua      CK     77.05 -21.2078 -159.7750
19  Sao Joao Da Barra      BR     78.12 -21.6403  -41.0511

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.

In [18]:
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng       Hotel Name
0             Rikitea      PF     78.10 -23.1203 -134.9692          Rikitea
2           Mahebourg      MU     77.29 -20.4081   57.7000        Mahebourg
4           Mahajanga      MG     84.56 -15.7167   46.3167        Mahajanga
7    Saint Pete Beach      US     88.25  27.7253  -82.7412   St. Petersburg
8            Bengkulu      ID     77.76  -3.8004  102.2655         Bengkulu
9               Vaini      TO     81.21 -21.2000 -175.2000       Nukuhetulu
10             Chisec      GT     88.59  15.8167  -90.2833           Chisec
11          Kalanwali      IN     86.32  29.8500   74.9500   Gurdwara Basti
15             Avarua      CK     77.05 -21.2078 -159.7750  Avarua District
19  Sao Joao Da Barra      BR     78.12 -21.6403  -41.0511          Grussaí

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig