## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Bogale,MM,16.2833,95.4000,79.92,81,25,4.85,scattered clouds,2022-04-17 00:29:21
1,1,Coquimbo,CL,-29.9533,-71.3436,57.02,88,20,5.26,few clouds,2022-04-17 00:29:21
2,2,Ribeira Grande,PT,38.5167,-28.7000,60.04,78,10,16.98,clear sky,2022-04-17 00:24:23
3,3,Lima,PE,-12.0432,-77.0282,64.65,44,0,14.97,clear sky,2022-04-17 00:24:49
4,4,Tuktoyaktuk,CA,69.4541,-133.0374,3.20,66,75,4.61,broken clouds,2022-04-17 00:29:22

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Bogale,MM,16.2833,95.4000,79.92,81,25,4.85,scattered clouds,2022-04-17 00:29:21
9,9,Vaini,TO,-21.2000,-175.2000,84.36,79,75,8.05,broken clouds,2022-04-17 00:29:24
15,15,Souillac,MU,-20.5167,57.5167,75.58,100,75,11.50,shower rain,2022-04-17 00:29:25
19,19,Lorengau,PG,-2.0226,147.2712,84.63,71,32,5.57,scattered clouds,2022-04-17 00:29:26
23,23,Rikitea,PF,-23.1203,-134.9692,78.64,70,35,13.56,light rain,2022-04-17 00:29:27
...,...,...,...,...,...,...,...,...,...,...,...
665,665,Angoche,MZ,-16.2325,39.9086,78.19,88,18,7.05,light rain,2022-04-17 00:33:14
670,670,Natal,BR,-5.7950,-35.2094,81.25,89,20,6.91,few clouds,2022-04-17 00:32:33
676,676,Puerto Carreno,CO,6.1890,-67.4859,81.16,69,100,6.26,overcast clouds,2022-04-17 00:33:18
680,680,Alofi,NU,-19.0595,-169.9187,87.69,66,31,6.91,scattered clouds,2022-04-17 00:33:19
683,683,Kirakira,SB,-10.4544,161.9205,85.86,62,89,5.68,overcast clouds,2022-04-17 00:32:35

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Bogale,MM,16.2833,95.4000,79.92,81,25,4.85,scattered clouds,2022-04-17 00:29:21
9,9,Vaini,TO,-21.2000,-175.2000,84.36,79,75,8.05,broken clouds,2022-04-17 00:29:24
15,15,Souillac,MU,-20.5167,57.5167,75.58,100,75,11.50,shower rain,2022-04-17 00:29:25
19,19,Lorengau,PG,-2.0226,147.2712,84.63,71,32,5.57,scattered clouds,2022-04-17 00:29:26
23,23,Rikitea,PF,-23.1203,-134.9692,78.64,70,35,13.56,light rain,2022-04-17 00:29:27
...,...,...,...,...,...,...,...,...,...,...,...
665,665,Angoche,MZ,-16.2325,39.9086,78.19,88,18,7.05,light rain,2022-04-17 00:33:14
670,670,Natal,BR,-5.7950,-35.2094,81.25,89,20,6.91,few clouds,2022-04-17 00:32:33
676,676,Puerto Carreno,CO,6.1890,-67.4859,81.16,69,100,6.26,overcast clouds,2022-04-17 00:33:18
680,680,Alofi,NU,-19.0595,-169.9187,87.69,66,31,6.91,scattered clouds,2022-04-17 00:33:19
683,683,Kirakira,SB,-10.4544,161.9205,85.86,62,89,5.68,overcast clouds,2022-04-17 00:32:35

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bogale,MM,79.92,scattered clouds,16.2833,95.4000,
9,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,
15,Souillac,MU,75.58,shower rain,-20.5167,57.5167,
19,Lorengau,PG,84.63,scattered clouds,-2.0226,147.2712,
23,Rikitea,PF,78.64,light rain,-23.1203,-134.9692,
...,...,...,...,...,...,...,...
665,Angoche,MZ,78.19,light rain,-16.2325,39.9086,
670,Natal,BR,81.25,few clouds,-5.7950,-35.2094,
676,Puerto Carreno,CO,81.16,overcast clouds,6.1890,-67.4859,
680,Alofi,NU,87.69,scattered clouds,-19.0595,-169.9187,
683,Kirakira,SB,85.86,overcast clouds,-10.4544,161.9205,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bogale,MM,79.92,scattered clouds,16.2833,95.4000,Aung Pin Lel Guest House
9,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Souillac,MU,75.58,shower rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
19,Lorengau,PG,84.63,scattered clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
23,Rikitea,PF,78.64,light rain,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
665,Angoche,MZ,78.19,light rain,-16.2325,39.9086,Guest House HESADA
670,Natal,BR,81.25,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
676,Puerto Carreno,CO,81.16,overcast clouds,6.1890,-67.4859,Casa Hotel Victoria
680,Alofi,NU,87.69,scattered clouds,-19.0595,-169.9187,Taloa Heights
683,Kirakira,SB,85.86,overcast clouds,-10.4544,161.9205,SanBiz Lodge

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_Database/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))